body {
  background-image: url("images/background.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #003990;
  margin: 0;
  padding: 0;
}

.heading {
  color: white;
  font-size: 40px;
  margin-top: 50px;
}
.leftsection {
  float: left;
  width: 61%;
}

.rightsection {
  float: right;
  width: 39%;
  top: 100px;
}

#video_feed {
  position: relative;
  top: 40px;
  left: 105px;
  width: 633px;
  height: 380px;
  object-fit: cover;
  visibility: visible; /* Ensure it's only hidden, not removed */
}

.camera {
  width: 633px;
  height: 380px;
  object-fit: cover; /* Ensures the image fills the area without distortion */
  position: relative;
  top: 40px;
  left: 105px;
}

.print {
  width: 633px;
  height: 372px;
  object-fit: cover; /* Ensures the image fills the area without distortion */
  position: relative;
  top: 80px;
  right: 75px;
}

.verifiedVideo {
  width: 50%;
  border-radius: 10px;
}
.container {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  display: inline-block;
}

img#video-stream {
  width: 100%;
  border-radius: 10px;
}

.options {
  margin-top: 15px;
}

.buttons {
  margin-left: 20%;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#employee-details {
  margin-top: 20px;
  padding: 15px;
  background: #e8f5e9;
  border-radius: 10px;
  display: inline-block;
}

.verified {
  color: green;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.admin-btn {
  margin-top: 20px;
  background-color: #dc3545;
}
