<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Recognition System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var socket = io.connect(
          "http://" + document.domain + ":" + location.port
        );
        socket.on("entry_notification", function (data) {
          var notification = document.getElementById("notification");
          notification.innerHTML = data.message;
          notification.style.display = "block";
          setTimeout(function () {
            notification.style.display = "none";
          }, 5000);
        });
      });
    </script>
  </head>
  <body>
    <h1 class="heading">CosmosAir Pvt. Ltd.</h1>

    <div class="leftsection">
      <!-- Video Feed -->
      <img
        src="{{ url_for('video_feed') }}"
        alt="Live Video Feed"
        class="camera"
        id="video_feed"
      />
      <br /><br /><br />
      <div class="buttons">
        <form class="Visitor" action="/enter_visitor" method="POST">
          <button type="submit" class="btn btn-warning w-100">
            Enter as Visitor
          </button>
        </form>
        <button onclick="window.location.href='/login_R'">
          Register Employee
        </button>
        <button class="Attendance" onclick="window.location.href='/login_A'">
          View Attendance
        </button>
      </div>
    </div>

    <div class="rightsection">
      <div class="print">
        <div
          id="entryMessage"
          style="
            display: none;
            color: green;
            font-size: 20px;
            font-weight: bold;
          "
        >
          Entry Recorded
        </div>
        <div
          id="notification"
          style="display: none; padding: 10px; margin-top: 10px"
        >
          <!-- Notification message will appear here -->
        </div>
      </div>
    </div>
    <script>
      function showEntryMessage(message) {
        const entryMessage = document.getElementById("entryMessage");
        entryMessage.innerText = message;
        entryMessage.style.display = "block";
        setTimeout(() => {
          entryMessage.style.display = "none";
        }, 5000);
      }

      // Example usage:
      // showEntryMessage('Face recognized. Entry marked.');
      // showEntryMessage('Visitor entry marked.');
    </script>
  </body>
</html>
